VITE_GOOGLE_CLIENT_ID=316467644383-78ueu8svimuqvshpplpeg0vs3d5ro49r.apps.googleusercontent.com
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwvBPGXMd5_HakndLKOS_zOClfAfTkOLVX8RfETT9beli9Hx4dBmF9KhS2h09R8__D-2A/exec